<div class="container-fluid">
    <div id="kpiVentas" class="kpiDiv">
        <h2 class="title">Ventas KPIs chart</h2>
        <p class="">{{ventasCreated}}</p>
        <canvas id="ventasChart" class="kpiChart"></canvas>
    </div>
    <div id="kpiCuentas" class="kpiDiv">
        <h2 class="title">Cuentas KPIs Chart</h2>
        <p class="">{{cuentasCreated}}</p>
        <canvas id="cuentasChart" class="kpiChart"></canvas>
    </div>
    <div id="kpiInventario" class="kpiDiv">
        <h2 class="title">Inventario KPIs Chart</h2>
        <p class="">{{cuentasCreated}}</p>
        <canvas id="inventarioChart" class="kpiChart"></canvas>
    </div>
</div>