<div class="container-fluid row">
	<div class="monthly-sales-chart col-6">
		<h1>Monthly Sales</h1>
		<svg width="470" height="410">
			<g transform="translate(50,20)">
				<g class="x axis" transform="translate(0,360)">
					<g transform="translate(25.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Jan</text>
					</g>
					<g transform="translate(59.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Feb</text>
					</g>
					<g transform="translate(93.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Mar</text>
					</g>
					<g transform="translate(127.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Apr</text>
					</g>
					<g transform="translate(161.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">May</text>
					</g>
					<g transform="translate(195.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Jun</text>
					</g>
					<g transform="translate(229.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Jul</text>
					</g>
					<g transform="translate(263.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Aug</text>
					</g>
					<g transform="translate(297.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Sep</text>
					</g>
					<g transform="translate(331.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Oct</text>
					</g>
					<g transform="translate(365.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Nov</text>
					</g>
					<g transform="translate(399.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Dec</text>
					</g>
					<path class="domain" d="M0,6V0H900V6"></path>
				</g>
				<g class="y axis">
					<g transform="translate(0,350)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;">0</text>
					</g>
					<g transform="translate(0,315)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,280)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,245)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,210)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,175)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;">500K</text>
					</g>
					<g transform="translate(0,140)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,105)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,70)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,35)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,0)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;">1M</text>
					</g>
					<text transform="rotate(-90)" y="-40" dy=".71em" style="text-anchor: end;">Total Sales</text>
				</g>
				<g id="months">
				</g>
				<!-- <rect class="bar" x="10" width="31" y="250" height="100"></rect> -->
			</g>
		</svg>
	</div>
	<div class="products-services-charts col-6">
		<form class="row" [formGroup]="salesPerMonthValues">
			<select class="form-select col" formControlName="option" (change)="salesPerMonth()">
				<option [value]="'products'">Products</option>
				<option [value]="'services'">Services</option>
			</select>
			<select class="form-select col" formControlName="month" (change)="salesPerMonth()">
				<option [value]="'1'">January</option>
				<option [value]="'2'">February</option>
				<option [value]="'3'">March</option>
				<option [value]="'4'">April</option>
				<option [value]="'5'">May</option>
				<option [value]="'6'">June</option>
				<option [value]="'7'">July</option>
				<option [value]="'8'">August</option>
				<option [value]="'9'">September</option>
				<option [value]="'10'">October</option>
				<option [value]="'11'">November</option>
				<option [value]="'12'">December</option>
			</select>
		</form>
		<br>
		<div style="width: 100%; text-align: center;">
			<svg id="pie-products" class="pie" height="200" width="200" viewBox="0 0 20 20">
				<circle r="10" cx="10" cy="10" fill="transparent"/>
				<!-- <circle r="8" cx="10" cy="10" fill="transparent"
						class="percentage"
						stroke="tomato"
						stroke-width="4"
						stroke-dasharray="calc(75 * 50.24 / 100) 50.24"
						transform="rotate(-90) translate(-20)" /> -->
			</svg>
			<svg id="pie-services" class="pie" height="200" width="200" viewBox="0 0 20 20">
				<circle r="10" cx="10" cy="10" fill="transparent"/>
				<!-- <circle r="8" cx="10" cy="10" fill="transparent"
						class="percentage"
						stroke="bisque"
						stroke-width="4"
						stroke-dasharray="calc(75 * 50.24 / 100) 50.24"
						transform="rotate(-90) translate(-20)" /> -->
			</svg>
		</div>
	</div>
</div>