<div class="container-fluid">
	<div class="monthly-sales-chart">
		<h1>Monthly Sales</h1>
		<svg width="470" height="410">
			<g transform="translate(50,20)">
				<g class="x axis" transform="translate(0,360)">
					<g transform="translate(25.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Jan</text>
					</g>
					<g transform="translate(59.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Feb</text>
					</g>
					<g transform="translate(93.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Mar</text>
					</g>
					<g transform="translate(127.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Apr</text>
					</g>
					<g transform="translate(161.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">May</text>
					</g>
					<g transform="translate(195.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Jun</text>
					</g>
					<g transform="translate(229.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Jul</text>
					</g>
					<g transform="translate(263.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Aug</text>
					</g>
					<g transform="translate(297.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Sep</text>
					</g>
					<g transform="translate(331.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Oct</text>
					</g>
					<g transform="translate(365.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Nov</text>
					</g>
					<g transform="translate(399.5,0)" style="opacity: 1;"><line y2="6" x2="0"></line>
						<text dy=".71em" y="9" x="0" style="text-anchor: middle;">Dec</text>
					</g>
					<path class="domain" d="M0,6V0H900V6"></path>
				</g>
				<g class="y axis">
					<g transform="translate(0,350)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;">0</text>
					</g>
					<g transform="translate(0,315)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,280)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,245)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,210)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,175)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;">500K</text>
					</g>
					<g transform="translate(0,140)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,105)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,70)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,35)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;"></text>
					</g>
					<g transform="translate(0,0)">
						<line style="opacity: 0.1;" x2="451" y2="0"></line>
						<text dy=".32em" x="-9" y="0" style="text-anchor: end;">1M</text>
					</g>
					<text transform="rotate(-90)" y="-40" dy=".71em" style="text-anchor: end;">Total Sales</text>
				</g>
				<rect class="bar" x="10" width="31" y="250" height="100"></rect>
				<rect class="bar" x="44" width="31" y="150" height="200"></rect>
				<rect class="bar" x="78" width="31" y="300" height="50"></rect>
				<rect class="bar" x="112" width="31" y="50" height="300"></rect>
				<rect class="bar" x="146" width="31" y="0" height="350"></rect>
				<rect class="bar" x="180" width="31" y="100" height="250"></rect>
				<rect class="bar" x="214" width="31" y="50" height="300"></rect>
				<rect class="bar" x="248" width="31" y="300" height="50"></rect>
				<rect class="bar" x="282" width="31" y="250" height="100"></rect>
				<rect class="bar" x="316" width="31" y="200" height="150"></rect>
				<rect class="bar" x="350" width="31" y="0" height="350"></rect>
				<rect class="bar" x="384" width="31" y="300" height="50"></rect>
			</g>
		</svg>
	</div>
</div>