@media (max-width: 540px) {
    .monthly-sales-chart {
        margin-top: 15px;
        width: 100%;
        display: block;
        overflow: auto;
        white-space: nowrap;
    }

    .products-services-charts {
        margin-top: 15px;
        width: 100%;
        display: block;
        overflow: auto;
        white-space: nowrap;
    }
}

@media (min-width: 480px) {
    .monthly-sales-chart {
        width: 500px;
        margin: 15px;
    }
    
    .products-services-charts {
        width: 500px;
        margin: 15px;
    }
}

h1 {
    font: 24px sans-serif;
}

.monthly-sales-chart {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background-color: #E3F2FD;
}

.products-services-charts {
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #dadada;
    background-color: #E3F2FD;
}

.pie {
    margin: 75px 10px 0px 10px;
}

#months {
    fill: #d81c3f;
}

@keyframes dash {
    from {
      stroke-dashoffset: 822;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
// #months:hover {
//     fill: darkgray;
// }
  
.axis {
    font: 10px sans-serif;
}
  
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
  
.x.axis path {
    display: none;
}
