@media (max-width: 540px) {
    .monthlySales, .salesPerMonth {
        height:300px !important;
        margin-top: 20px;
    }
}

@media (min-width: 480px) {
    .monthlySales, .salesPerMonth {
        height:400px !important;
        margin-top: 20px;
    }
}

.title {
    font-size: 20pt;
}

.monthly-sales-div {
    width: 100%;
    margin-top: 15px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #dadada;
}

.monthlySales, .salesPerMonth {
    margin-top: 20px;
}

.products-services-div {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #dadada;
}

.form-select {
    margin: 0px 5px 0px 5px;
}
